/*Main Container*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F0F7F4;
    font-family: 'IBM Plex Mono', monospace;
}

/*Navigation*/
.navbar {
    background: #7E8D85;
    padding: 10px 0;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-left,
.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-left li,
.nav-right li {
    margin-right: 10px;
}

.nav-left li:last-child,
.nav-right li:last-child {
    margin-right: 0;
}

.navdiv a {
    color: #F0F7F4;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.navdiv a:hover {
    background-color: #3C493F;
}

/*Icons*/
.icon-link {
    text-decoration: none;
    color: #3C493F
}

.icon-link:visited {
    color: inherit;
}

/*Image Slider*/
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .image-description {
    text-align: center;
  }
  
  .prev-btn,
  .next-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }